body {
    width: 80vw;
    margin: auto;
    background-color:  #6b8e23;
}
@font-face {
    font-family: sarubunRegular;
    src: url("fonts/Sarabun-Regular.ttf" )
}
h1, h2{
    width: 100%;
    font-family: "sarubunRegular", monospace;
}