body {
    width: 80vw;
    margin: auto;
    background-color: #6b8e23;
}

@font-face {
    font-family: sarubunRegular;
    src: url("fonts/Sarabun-Regular.ttf")
}

h1, h2 {
    width: 100%;
    font-family: "sarubunRegular", monospace;

}

.border-box {
    margin: 5px;
    border-radius: 20px;
}

header {
    width: 100%;
    background-color: olive;
    border: darkslategrey 5px solid;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

#two_column {
    display: grid;
    grid-template-columns: 75% 25%;
    height: max-content;
}

main {
    text-align: center;
}

aside {
    width: 100%;
}

#gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.galleryimage {
    flex: 0 0 31%;
    width: 90%;
    border-radius: 20px;
    border: darkslategrey 1px solid;
    padding: 3px;
    margin: 1px;
}
.galleryimage:hover{
    transform: rotate(5deg);
    border: sandybrown 5px solid;
    padding: 0;
}
img {
    width: 100%;
    border-radius: 20px;
}
img:hover{
    width: 100%;
    height: 100%;
}
